@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
  min-height: 100vh;
  background: url(../static/bg.jpg);
  background-size: cover;
  background-position-x: center;
  gap: 60px;
  flex-direction: column;
}

.header {
  display: flex;
  height: 100px;
  width: 100%;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 15px;
}

.header .left {
  width: 50%;
}

.header .left img {
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.4),
    0 0 12px rgba(0, 0, 0, 0.8), 0 0 16px rgba(0, 0, 0, 1);
  background: linear-gradient(white, #272827);
}

.header .right {
  height: 100%;
  width: 50%;
}

.header .right h1 {
  padding-top: 25px;
  color: white;
  text-shadow: 0 0 6px limegreen;
  text-justify: auto;
}

.header .right p {
  color: whitesmoke;
  text-shadow: 0 0 6px limegreen;
  text-align: center;
}

.header nav {
  width: 100%;
}

.header nav ul {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  padding: 2px 20px;
}

.header nav ul li {
  width: 150px;
  list-style: none;
}

.header nav ul li a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 6px limegreen;
  background: transparent;
  text-transform: uppercase;
  padding: 2px 5px;
  transition: 0.4s all linear;
}

.header nav ul li a::after {
  width: 100%;
  height: 2px;
  background: white;
}

.header nav ul li a:hover {
  letter-spacing: 2px;
}

.header nav ul li a::before {
  position: absolute;
  left: -27px;
  width: 25px;
  height: 20px;
  bottom: 10px;
  transform: translateY(5px);
  background: linear-gradient(20deg, red, white, blue);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%);
}

.box {
  position: relative;
  width: 700px;
  height: 420px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
  opacity: 0.95;
  backdrop-filter: blur(30px);
}

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 700px;
  height: 420px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 700px;
  height: 420px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box form {
  position: absolute;
  justify-items: center;
  inset: 4px;
  background: #222;
  padding: 10px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.box .controlVelocity {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  padding-bottom: 10 px;
  gap: 5px;
}

.box .btn {
  height: 30px;
  background: #272827;
  margin-top: 40px;
  padding: 3px;
  text-transform: uppercase;
  border-radius: 5px;
}

.box .btn:hover {
  cursor: pointer;
  background: whitesmoke;
  box-shadow: 0 0 8px limegreen;
  border: transparent;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 10px;
}

.velocity {
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 180px;
  width: 500px;
  border: 3px solid #444;
  border-radius: 10px;
  padding: 0 30px 0 30px;
  transition: 0.8s;
}

.velocity:hover {
  border: 3px solid var(--clr);
  box-shadow: 0 0 35px var(--clr);
}

.velocity .field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  gap: 5px;
}

.velocity .field input {
  height: 50px;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  text-align: center;
  font-size: 2.5em;
  border: 3px solid transparent;
}

.velocity .field input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #664aff;
  border-radius: 50%;
  border: 1px solid #664aff;
  cursor: cell;
}

.velocity .field input::-moz-range-progress {
  background: #664aff;
}

.velocity .field .inputField {
  position: relative;
  left: 0;
  width: 60%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  transition: 0.5s all ease-in-out;
  gap: 0;
}

.velocity .field .inputField input {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  left: 0;
  width: 100%;
}

.velocity .field .inputField input[type="number"] {
  background: #fff;
  left: 0;
  right: 0;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 0;
  animation: expand 1.5s ease-in-out;
}

@keyframes expand {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

.velocity .field .inputField input[type="number"]::placeholder {
  position: absolute;
  font-size: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 3px black;
  color: transparent;
  -webkit-text-stroke: 1px black;
  margin: auto;
}

.velocity .field .inputField input[type="number"]:focus {
  box-shadow: inset 0 0 3px black;
}

.velocity .field .inputField span {
  width: 50px;
}

.velocity .field .inputField span:nth-child(1) {
  position: relative;
  left: 0;
  border-radius: 20px 0 0 20px;
  font-size: 20px;
  height: 50px;
  padding: 5px;
  padding-top: 10px;
  background: #fff;
  transition: 0.5s all ease-in-out;
}

.velocity .field .inputField:hover span:nth-child(1) {
  left: -15px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 1), 0 0 6px rgba(255, 255, 255, 0.6),
    0 0 12px rgba(255, 255, 255, 0.2), inset 0 3px 8px black;
}

.velocity .field .inputField span:nth-child(3) {
  position: relative;
  right: 0;
  border-radius: 0 20px 20px 0;
  font-size: 20px;
  height: 50px;
  padding: 5px;
  padding-top: 10px;
  background: #fff;
  transition: 0.5s all ease-in-out;
}

.velocity .field .inputField:hover span:nth-child(3) {
  right: -15px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 1), 0 0 6px rgba(255, 255, 255, 0.6),
    0 0 12px rgba(255, 255, 255, 0.2), inset 0 3px 8px black;
}

.velocity .field .turn {
  width: 100%;
  height: 30px;
  display: flex;
  justify-items: center;
  padding: 0 2px;
  justify-content: space-between;
  gap: 40px;
}

.velocity .field .turn input {
  width: 30px;
  transition: 0.5s;
  border-radius: 50%;
}

.velocity .field .turn input:first-of-type:hover {
  transform: translateX(-5px);
}

.velocity .field .turn input:last-of-type:hover {
  transform: translateX(5px);
}

.velocity .field .turn input:hover,
label:hover {
  cursor: pointer;
}

.velocity .field .turn label, 
.velocity .field label {
  color: #664aff;
  font-size: x-large;
  font-weight: bold;
  width: 60px;
  transition: 0.5s;
  transform: translateX(50%);
  left: 50%;
}

.velocity .field .turn label:hover {
  color: transparent;
  text-shadow: 3px 3px 0.5px orange, 3px 3px 1px orangered,
    0 0px 2px rgba(255, 0, 0, 0.3);
}

.velocity .field .turn label:first-of-type {
  order: -1;
}

.velocity .field .turn input {
  height: 100%;
}

.toast {
  position: fixed;
  top: 130px;
  right: -80px;
  transform: translateX(50%);
  padding: 10px 20px;
  background-color: #664aff;
  color: white;
  border-radius: 5px;
  transition: right 0.5s ease-in-out;
  z-index: 9999;
}

a {
  position: relative;
  background: #444;
  text-decoration: none;
}

a:hover {
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}

a::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #27282c;
}

a span {
  position: relative;
  z-index: 1;
}

a span input {
  background: transparent;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  padding-left: 60px;
  padding: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a span input:hover {
  letter-spacing: 0.25em;
  cursor: pointer;
}

a i {
  position: absolute;
  inset: 0;
  display: block;
}

a i::before {
  content: "";
  position: absolute;
  top: -3.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--clr);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}

a:hover i::before {
  width: 20px;
  left: 20%;
}

a i::after {
  content: "";
  position: absolute;
  bottom: -3.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--clr);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}

a:hover i::after {
  width: 20px;
  left: 80%;
}

#conn {
  font-size: 20px;
  color: #664aff;
  padding-top: 10px;
  text-align: center;
}

.serialMonitor {
  background: whitesmoke;
  width: 100%;
  height: 100px;
  border-radius: 5px;
}

.serialMonitor span {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.serialMonitor span p {
  margin: auto;
  font-size: 25px;
}

h4 {
  color: whitesmoke;
  text-shadow: 0 0 6px limegreen;
}
