<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Control de Velocidad</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="header">
      <div class="left">
        <img src="../static/logo.png" alt="logoUD" />
      </div>
      <div class="right">
        <h1>Control de Movimiento</h1>
      </div>
    </div>
    <div class="box">
      <form id="control">
        <div class="controlVelocity">
          <div class="velocity" style="--clr: #6eff3e">
            <div class="field">
              <div class="inputField">
                <span>Posición</span>
                <input
                  type="number"
                  required
                  autofocus
                  name="position"
                  id="position"
                  class="inputValues position"
                  min="0"
                  max="890"
                  step="0.1"
                />
                <span>mm</span>
              </div>
              <div class="inputField">
                <span>Velocidad</span>
                <input
                  type="number"
                  required
                  id="rpm"
                  class="inputValues rpm"
                  min="0"
                  max="255"
                />
                <span>rpm</span>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <a href="#" style="--clr: #1e9bff"
            ><span><input type="submit" id="send" value="Enviar" /></span><i></i
          ></a>
        </div>
        <span id="conn">Conexión cerrada</span>
        <h4>Serial Monitor</h4>
        <div class="serialMonitor">
          <span id="receive"></span>
        </div>
      </form>
    </div>

    <script>
      const inputValues = document.querySelectorAll(".inputValues");
      const errorMessage = document.createElement("div");
      errorMessage.classList = "toast";
      document.body.appendChild(errorMessage);

      let position = inputValues[0];
      position.addEventListener("input", (e) => {
        if (e.target.value > 820 || e.target.value < 0) {
          position.style.boxShadow = `0 0 25px #ff1867`;
          errorMessage.textContent =
            "Valor invalido, el máximo valor de posición es: 820mm";
          errorMessage.style.position = "fixed";
          errorMessage.style.right = "250px";
          setTimeout(() => {
            e.target.value = "";
            position.style.boxShadow = `none`;
            setTimeout(() => {
              errorMessage.style.right = "-300px";
            }, 3000);
          }, 500);
        } else if (e.target.value >= 0) {
          position.style.boxShadow = `0 0 25px #1e9bff`;
          errorMessage.textContent = "";
          errorMessage.style.right = "-300px";
        }
      });

      let rpm = inputValues[1];
      rpm.addEventListener("input", (e) => {
        if (e.target.value > 120 || e.target.value < 0) {
          rpm.style.boxShadow = `0 0 25px #ff1867`;
          errorMessage.textContent =
            "Valor invalido, el máximo valor de velocidad es: 120rpm";
          errorMessage.style.position = "fixed";
          errorMessage.style.right = "250px";
          setTimeout(() => {
            e.target.value = "";
            rpm.style.boxShadow = `none`;
            setTimeout(() => {
              errorMessage.style.right = "-300px";
            }, 3000);
          }, 500);
        } else if (e.target.value >= 0) {
          rpm.style.boxShadow = `0 0 25px #1e9bff`;
        }
      });
    </script>

    <script src="./app.js"></script>
  </body>
</html>
